<section class="hero">
    <div class="container">
        <h2 class="hero-title">Заголовок</h2>
        <ul class="hero-list">
            <li class="hero-list__item">1<span>2222</span></li>
            <li class="hero-list__item">2</li>
        </ul>
    </div>
</section>


<div class="block">
    <div class="block__element"></div>
</div>

<div class="block-test">
    <div class="block-test__element"></div>
</div>


<div class="block block--block2">
    <div class="block__element"></div>
</div>
